#!/bin/sh

case "$1" in
    {% for package in packages %}
    {{ package.name }})
        git clone {{ package.git_repo }} {{ build_path }}/{{ package.name }}
        cd {{ build_path }}/{{ package.name }}
        git checkout {{ package.git_branch|default('master') }}
        {{ package.build_command|default('make install') }}
        fpm -s dir -t deb -n {{ package.name }} --prefix /var/www/{{ package.name }} -v 1.0 --iteration $(date +"%Y%m%d%H%M%S") .
        mv *.deb {{ packages_path }}
        rm -rf {{ build_path }}/{{ package.name }}
        ;;
    {% endfor %}
    *)
        echo "Usage: $0 <package name>"
        echo ""
        echo "Packages available: "
{% for package in packages %}
        echo "\t - {{ package.name }}"
{% endfor %}
        exit 1
esac

