server {
    listen {{ item.port }};
    server_name {{ item.server_name }} www.{{ item.server_name }};
    root {{ item.root }};

    {% if item.php_enabled %}
    try_files $uri $uri/ /index.php?$args;

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php5-fpm.sock;

        {% for param in item.php_params %}
        fastcgi_param {{ param }};
        {% endfor %}
    }
    {% endif %}

    server_tokens off;

    gzip on;
    gzip_disable "msie6";
}
