server {
    listen {{ eher_web_port|default(80) }};
    server_name {{ eher_web_server_name }} www.{{ eher_web_server_name }};
    root {{ eher_web_root|default('/var/www/' + eher_web_name) }};
{% for rewrite_rule in eher_web_rewrite %}
    rewrite {{ rewrite_rule }};
{% endfor %}

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
    }
{% if eher_web_php_enabled %}

    index index.php app.php index.html;

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location / {
        try_files {{ eher_web_try_files|default('$uri $uri/ /index.php?$args') }};
    }

    location ~ \.php$ {
        fastcgi_intercept_errors on;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
{% for param in eher_web_php_params %}
        fastcgi_param {{ param }};
{% endfor %}
    }
{% endif %}
}
